# CSE4020 Final Project

In [30]:
import mysql.connector

In [31]:
import csv

In [45]:
tables = ["person", "employee", "departure", "flight", "pilot", "plane", "aircraft", "can_fly"]

insert_statements = {
    "person": "INSERT INTO person (name, address, phone) VALUES (%s, %s, %s);",
    "employee": "INSERT INTO employee (name, salary, employee_no) VALUES (%s, %s, %s);",
    "pilot": "INSERT INTO pilot (employee_no, flight_Hours) VALUES (%s, %s);",
    "plane": "INSERT INTO plane (maker, model_no) VALUES (%s, %s);",
    "aircraft": "INSERT INTO aircraft (serial_no, model_no) VALUES (%s, %s);",
    "passenger": "INSERT INTO passenger (ticket_number, name) VALUES (%s, %s);", 
    "booked_on": "INSERT INTO booked_on (ticket_number, date, flight_number) VALUES (%s, %s, %s);",
    "assigned_to": "INSERT INTO assigned_to (employee_no, date, flight_number) VALUES (%s, %s, %s);",
    "departure": "INSERT INTO departure (departure_date, flight_number) VALUES (%s, %s);",
    "flight": "INSERT INTO flight (flight_number, origin, destination, departure_time, arrival_time, status) VALUES (%s, %s, %s, %s, %s, %s);",
    "can_fly": "INSERT INTO can_fly (employee_no, model_number) VALUES (%s, %s);"
}

try:
    conn = mysql.connector.connect(
        database='db_airways',
        user='root',
        password='oreois15',
        host='localhost'
    )
    
    cursor = conn.cursor()
    
    csv_files = {
    "person": "dataset/person.csv",
    "employee": "dataset/employee.csv",
    "pilot": "dataset/pilot.csv",
    "plane": "dataset/plane.csv",
    "aircraft": "dataset/aircraft.csv",
    "passenger": "dataset/passenger.csv",
    "departure": "dataset/departure.csv",
    "flight": "dataset/flight.csv",
    "can_fly": "dataset/can_fly.csv"
    }

    for table in tables:
        csv_file = csv_files[table]
        
        record_count = 0
        
        with open(csv_file, mode='r') as file:
            csv_reader = csv.reader(file)
            next(csv_reader)  # Skip header row
            
            for row in csv_reader:
                record = tuple(row)
                cursor.execute(insert_statements[table], record)
                record_count += 1
        
        print(f'{record_count} record(s) inserted into the {table} table')

    conn.commit()
        
except mysql.connector.Error as error:
    print(f"Error: {error}")
    conn.rollback()

finally:
    conn.close()

13 record(s) inserted into the person table
7 record(s) inserted into the employee table
13 record(s) inserted into the departure table
17 record(s) inserted into the flight table
3 record(s) inserted into the pilot table
9 record(s) inserted into the plane table
13 record(s) inserted into the aircraft table
9 record(s) inserted into the can_fly table

In [46]:
"INSERT INTO passenger_bookings (name, departure_date, flight_number, ticket_number) VALUES 
('Smith', '2024-06-30', 100, 'DBA001'),
('Green', '2024-06-30', 206, 'DBA002'),
('Hooper', '2024-06-30', 334, 'DBA003'),
('Edwards', '2024-06-30', 449, 'DBA004'),
('MacBride', '2024-07-08', 991, 'DBA005'),
('Gates', '2024-07-08', 991, 'DBA006'),
('Rowe', '2024-07-08', 100, 'DBA007'),
('Clark', '2024-07-08', 100, 'DBA008'),
('Phillips', '2024-06-30', 449, 'DBA009'),
('Warnock', '2024-06-30', 449, 'DBA010'),
('Smith', '2024-07-08', 991, 'DBA011'),
('Peters', '2024-07-08', 100, 'DBA012');

SyntaxError: invalid syntax (4122645218.py, line 1)