# CSE4020 Final Project

In [44]:
import mysql.connector

In [45]:
import csv

In [46]:
tables = ["person", "employee", "pilot", "aircraft", "plane", "flight", "departure", "can_fly"]

insert_statements = {
    "person": "INSERT INTO person (name, address, phone) VALUES (%s, %s, %s);",
    "employee": "INSERT INTO employee (name, employee_no, salary) VALUES (%s, %s, %s);",
    "pilot": "INSERT INTO pilot (employee_no, flight_hours) VALUES (%s, %s);",
    "plane": "INSERT INTO plane (maker, model_number) VALUES (%s, %s);",
    "aircraft": "INSERT INTO aircraft (serial_number, model_number) VALUES (%s, %s);",
    "passenger": "INSERT INTO passenger (ticket_number, name) VALUES (%s, %s);", 
    "booked_on": "INSERT INTO booked_on (ticket_number, date, flight_number) VALUES (%s, %s, %s);",
    "assigned_to": "INSERT INTO assigned_to (employee_no, date, flight_number) VALUES (%s, %s, %s);",
    "departure": "INSERT INTO departure (date, flight_number) VALUES (%s, %s);",
    "flight": "INSERT INTO flight (flight_number, origin, destination, departure_time, arrival_time, status) VALUES (%s, %s, %s, %s, %s, %s);",
    "can_fly": "INSERT INTO can_fly (employee_no, model_number) VALUES (%s, %s);"
}

try:
    conn = mysql.connector.connect(
        database='db_airways',
        user='root',
        password='oreois15',
        host='localhost'
    )
    
    cursor = conn.cursor()
    
    csv_files = {
    "person": "dataset/person.csv",
    "employee": "dataset/employee.csv",
    "pilot": "dataset/pilot.csv",
    "plane": "dataset/plane.csv",
    "aircraft": "dataset/aircraft.csv",
    "passenger": "dataset/passenger.csv",
    "departure": "dataset/departure.csv",
    "flight": "dataset/flight.csv",
    "can_fly": "dataset/can_fly.csv"
    }

    for table in tables:
        csv_file = csv_files[table]
        
        record_count = 0
        
        with open(csv_file, mode='r') as file:
            csv_reader = csv.reader(file)
            next(csv_reader)  # Skip header row
            
            for row in csv_reader:
                record = tuple(row)
                cursor.execute(insert_statements[table], record)
                record_count += 1
        
        print(f'{record_count} record(s) inserted into the {table} table')

    conn.commit()
        
except mysql.connector.Error as error:
    print(f"Error: {error}")
    conn.rollback()

finally:
    conn.close()

13 record(s) inserted into the person table
7 record(s) inserted into the employee table
Error: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`db_airways`.`pilot`, CONSTRAINT `pilot_ibfk_1` FOREIGN KEY (`employee_no`) REFERENCES `employee` (`employee_no`))

test